@use "@carbon/layout";

.filterRow {
  display: flex;
  align-items: flex-end;
}

.viewSelect {
  margin-left: auto;
  width: 320px;
}

.tabs {
  margin: layout.$spacing-04 0;
  justify-content: center;
}
