@use "@carbon/layout";
@use "@carbon/colors";

.imageWrap {
  height: 320px;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin-bottom: layout.$spacing-03;

  .imageWrapImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.pokemonOrder {
  color: colors.$gray-40;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: layout.$spacing-02;
}

.cardLink {}

.cardSubtitle {
  color: colors.$gray-60;
  margin-bottom: layout.$spacing-04;
}
