@use "@carbon/layout";

.toastNotifications {
  position: fixed;
  top: layout.$spacing-06;
  right: layout.$spacing-06;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.toastNotification {
  animation: slideIn 0.2s ease-in-out;
}
