@use "@carbon/layout";

.mainTile {
  margin-bottom: layout.$spacing-05;
}

.imageWrap {
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.soundButtonWrap {
  position: absolute;
  top: 0;
  left: layout.$spacing-05;
}

.stats {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tagsWrap {
  margin-bottom: layout.$spacing-05;
}

.progressBar {
  margin: layout.$spacing-02 0;

  svg {
    display: none;
  }
}

.buttonSet {
  margin-top: auto;
}

.boxes {
  display: flex;
  margin-top: auto;
}

.box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.secondaryHeading {
  margin-bottom: layout.$spacing-04;
}
