@use "@carbon/react" with ($css--default-type: true,
  $css--reset: true,
  $use-flexbox-grid: true);

@use "@carbon/colors";

a {
  color: colors.$blue-60;
  text-decoration: none;

  &:hover {
    color: colors.$blue-70;
  }
}
