@use "@carbon/colors";
@use "@carbon/layout";

.listItem {
  display: flex;
  background: colors.$gray-10;
  padding: layout.$spacing-05;

  .listItemContent {
    flex: 1;

    >span {
      color: colors.$gray-40;
    }
  }

  .listItemHeader {
    display: flex;
    justify-content: space-between;
  }

  .listItemSubheading {
    margin-bottom: layout.$spacing-04;
    color: colors.$gray-60;
  }
}

.listImageWrap {
  width: 200px;
  height: 200px;
  background: #fff;
  margin-right: layout.$spacing-05;
  position: relative;
  overflow: hidden;

  .listImageWrapImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
